[submodule "vendor/tvision"]
	path = vendor/tvision
	url = https://github.com/j-greig/tvision.git
[submodule "vendor/MicropolisCore"]
	path = vendor/MicropolisCore
	url = https://github.com/SimHacker/MicropolisCore
[submodule "vendor/tvterm"]
	path = vendor/tvterm
	url = https://github.com/j-greig/tvterm.git
