[submodule "vendor/tvision"]
	path = vendor/tvision
	url = https://github.com/j-greig/tvision.git
[submodule "/Users/james/Repos/wibandwob-dos/vendor/tvision"]
	path = /Users/james/Repos/wibandwob-dos/vendor/tvision
	url = https://github.com/magiblot/tvision
[submodule "vendor/claude-system"]
	path = vendor/claude-system
	url = https://github.com/juanandresgs/claude-system
[submodule "vendor/MicropolisCore"]
	path = vendor/MicropolisCore
	url = https://github.com/SimHacker/MicropolisCore
[submodule "vendor/tvterm"]
	path = vendor/tvterm
	url = https://github.com/j-greig/tvterm.git
[submodule "modules-private"]
	path = modules-private
	url = https://github.com/j-greig/wibandwob-wwdos-modules-private.git
